.style1 {
	font-size: 12px;
	line-height: 18px;
}
.style5 {font-size: 12px; color: #66CCCC; }
.style6 {color: #FFFFFF; font-size: 12px; }
a:link {
	color: #CCCCCC;
}
a:visited {
	color: #666666;
}
a:hover {
	color: #99FF00;
}
